<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">

  <title>Forgot Password</title>
  <style>
    .form-gap {
padding-top: 70px;
}
  </style>
</head>
<body>
<div class="form-gap"></div>
<div class="container">
  <div class="row">
    <div class="col-md-4 col-md-offset-4">
      <div class="panel panel-default">
        <div class="panel-body">
          <div class="text-center">
            <h3><i class="fa fa-lock fa-4x"></i></h3>
            <h2 class="text-center">Enter Your Password?</h2>
<!--            <p>You can reset your password here.</p>-->
            <div class="panel-body">

              <form id="register-form" role="form" autocomplete="off" class="form" method="post">

                <label for="newpassword" class="text-black">new password <span class="text-danger">*</span></label>
                <input type="password"  required class="form-control" id="newpassword" name="newpassword" placeholder="Enter new password">

                <label for="confirm" class="text-black">Confirm Password <span class="text-danger">*</span></label>
                <input type="password"  required class="form-control" id="confirm" name="confirm" placeholder="Confirm you'r password" min="1">
              </form>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
</body>
</html>
