<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>RozarPay</title>
</head>
<body>
<script src="https://checkout.razorpay.com/v1/checkout.js"></script>
<script th:inline="javascript">
  window.onload=function(e){
      var options = {
          "key": "rzp_test_oCQnrrG0G7HqHN",
          "amount": /*[[${totalAmount}]]*/,
          "currency": "INR",
          "name": "StyleSphere",
          "order_id": /*[[${orderId}]]*/,

          "handler": function (response){
              let paymentid = response.razorpay_payment_id;
              let totalAmount = [[${totalAmount}]];

             window.location.href = '/razorpayWalletAmount/' + paymentid + '?totalAmount=' + totalAmount;
          },
          "prefill": {
              "name": "Gaurav Kumar",
              "email": "gaurav.kumar@example.com",
              "contact": "9000090000"
          },
          "theme": {
              "color": "#3399cc"
          }
      };
      var rzp1 = new Razorpay(options);
          rzp1.open();
          e.preventDefault();
      }
</script>
<script src="https://checkout.razorpay.com/v1/checkout.js"></script>

</body>
</html>