<!--<!DOCTYPE html>-->
<!--<html lang="en" xmlns:th="http://www.thymeleaf.org">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <meta name="viewport" content="width=device-width, initial-scale=1.0">-->
<!--    <title>Referral Page</title>-->
<!--    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">-->
<!--    <style>-->
<!--        body {-->
<!--            display: flex;-->
<!--            align-items: center;-->
<!--            justify-content: center;-->
<!--            height: 100vh;-->
<!--            margin: 0;-->
<!--            background-color: #f8f9fa;-->
<!--        }-->

<!--        .container {-->
<!--            text-align: center;-->
<!--            background-color: white;-->
<!--            padding: 20px;-->
<!--            border-radius: 8px;-->
<!--            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);-->
<!--        }-->

<!--        .form-group {-->
<!--            margin-bottom: 20px;-->
<!--        }-->
<!--    </style>-->
<!--</head>-->
<!--<body>-->

<!--<div class="container" style="width: 30%;">-->

<!--    <h2 class="mb-4">Referral Page</h2>-->
<!--    <div th:if="${WalletSuccess}">-->
<!--        <p style="color: green;">Successfully Applied.</p>-->
<!--    </div>-->
<!--    <div th:if="${ReferrerError}">-->
<!--        <p style="color: red;">Wallet does not exit for the user to use referral code you enter.</p>-->
<!--    </div>-->
<!--    <div th:if="${notValidReferralCode}">-->
<!--        <p style="color: red;">Invalid Referral Code .</p>-->
<!--    </div>-->
<!--    <form th:action="@{/referral}" method="post">-->
<!--        <div class="form-group">-->
<!--            <label for="referralCode">Enter Referral Code:</label>-->
<!--            <input type="text" class="form-control" id="referralCode" name="referralCode" required>-->
<!--        </div>-->
<!--        <button type="submit" class="btn btn-primary">Submit</button>-->
<!--    </form>-->
<!--</div>-->

<!--<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>-->
<!--<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"></script>-->
<!--<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>-->
<!--</body>-->
<!--</html>-->
